<?xml version="1.0"?>
<config>
  <modules>
    <Braceszone_Applink>
      <version>0.1.0</version>
    </Braceszone_Applink>
  </modules>
  <frontend>
    <routers>
      <applink>
        <use>standard</use>
          <args>
            <module>Braceszone_Applink</module>
            <frontName>applink</frontName>
          </args>
      </applink>
    </routers>
		<layout>
		  <updates>
			<applink>
			  <file>applink.xml</file>
			</applink>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <applink>
        <class>Braceszone_Applink_Helper</class>
      </applink>
    </helpers>
	<blocks>
	  <applink>
		<class>Braceszone_Applink_Block</class>
	  </applink>
	</blocks>
  </global>
</config> 