<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Delivery_Boy>
            <version>1.0.0.1</version>
        </Delivery_Boy>
    </modules>
    <global>
        <helpers>
            <delivery_boy>
                <class>Delivery_Boy_Helper</class>
            </delivery_boy>
        </helpers>
        <blocks>
            <delivery_boy>
                <class>Delivery_Boy_Block</class>
            </delivery_boy>
        </blocks>
        <models>
            <delivery_boy>
                <class>Delivery_Boy_Model</class>
                <resourceModel>delivery_boy_resource</resourceModel>
            </delivery_boy>
            <delivery_boy_resource>
                <class>Delivery_Boy_Model_Resource</class>
                <entities>
                    <boy_entity>
                        <table>delivery_boy_entity</table>
                    </boy_entity>
                    <boy_entity_datetime>
                        <table>delivery_boy_entity_datetime</table>
                    </boy_entity_datetime>
                    <boy_entity_decimal>
                        <table>delivery_boy_entity_decimal</table>
                    </boy_entity_decimal>
                    <boy_entity_int>
                        <table>delivery_boy_entity_int</table>
                    </boy_entity_int>
                    <boy_entity_text>
                        <table>delivery_boy_entity_text</table>
                    </boy_entity_text>
                    <boy_entity_varchar>
                        <table>delivery_boy_entity_varchar</table>
                    </boy_entity_varchar>
                    <boy_entity_char>
                        <table>delivery_boy_entity_char</table>
                    </boy_entity_char>
                </entities>
            </delivery_boy_resource>
        </models>
        <resources>
            <boy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boy_write>
            <boy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boy_read>
            <delivery_boy_setup>
                <setup>
                    <module>Delivery_Boy</module>
                    <class>Delivery_Boy_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </delivery_boy_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <delivery_boy>
                <use>standard</use>
                <args>
                    <module>Delivery_Boy</module>
                    <frontName>delivery-boy</frontName>
                </args>
            </delivery_boy>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <delivery_boy after="Mage_Adminhtml">Delivery_Boy_Adminhtml</delivery_boy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <delivery_boy>
                    <file>delivery_boy.xml</file>
                </delivery_boy>
            </updates>
        </layout>
    </adminhtml>
</config>